/* Modal overlay (háttér) */
.modal-overlay {
    display: none; /* Kezdetben rejtve */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Félátlátszó fekete háttér */
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

/* Modal ablak */
.modal {
    background-color:rgba(38, 38, 38, 0.75);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Modal header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    margin: 0;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
}

/* űrlap stílusok */
.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}
